.logo {
    text-decoration: none;
    color: var(--color-txt);
    display: flex;
    align-items: center;
    img {
        margin-right: 10px;
    }
    // &_wrapper {
    //     display: flex;
    //     align-items: center;
    // }
    // &_text {
    //     font-size: 32px;
    // }
}
