.footer {
    border-top: 1px solid var(--color-beige);
    margin-top: 120px;
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}
.footer_list {
    display: flex;
}
.footer_item {
    margin-right: 72px;
}
.footer_item:last-child {
    margin-right: 0;
}
.footer_link {
    color: var(--color-txt-black);
    font-size: 22px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.footer_link:hover {
    color: var(--color-title);
}

.footer_contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 39px 0;
}
.contacts_text {
    color: var(--color-txt-big);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 6px;
}
.contacts_text:last-child {
    margin-bottom: 0;
}
.contacts_details {
    color: var(--color-txt-black);
    font-size: 22px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.contacts_link:hover .contacts_details {
    color: var(--color-title);
}

.payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 26px;
    background-color: var(--color-beige);
}
.payment_item {
    // margin-right: 12.4%;
    min-height: 28px;
    min-width: 48px;
}
// .payment_item:last-child {
//     margin-right: 0;
// }
@media screen and (max-width: 992px) {
    .footer_nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer_item {
        margin-right: 32px;
    }
}
