.link {
    color: var(--color-txt);
    text-decoration: none;
    font-weight: 600;
    padding: 0 1rem;
    text-transform: capitalize;
    transition: all 0.3s;
    &:hover {
        color: var(--color-txt-l);
        text-decoration: underline;
    }
    &.active {
        color: var(--color-txt-l);
        padding: 0 1rem;
        text-decoration: none;
    }
}
