.numberControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  border: 1px solid var(--color-title);
  padding: 10px;
  width: max-content;
  margin-right: 14px;
}

.numberLeft,
.numberRight {
  content: attr(data-content);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: var(--color-txt-black);
  cursor: pointer;
  border: none;
  background: none;
  transition: all 0.3s ease-in-out;
}
.numberLeft:hover,
.numberRight:hover {
  background-color: #fff !important;
  color: var(--color-title);
}

.numberQuantity {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  border: 0;
  width: 20px;
  -moz-appearance: textfield;
  // border-top: 1px solid black;
  // border-bottom: 1px solid black;
  // text-align: right;
  text-align: center;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.numberLeft:hover,
.numberRight:hover {
  background-color: #666666;
}
