.links li {
    text-transform: capitalize;
    &:nth-child(2n) {
        font-size: 12px;
        color: var(--color-brcrb);
    }
    &:not(:last-child) {
        & > a {
            color: var(--color-brcrb);
            font-size: 22px;
        }
        &:hover > a {
            color: var(--color-title);
        }
    }
    .links_home {
        color: var(--color-brcrb);
        font-size: 22px;
        &:hover {
            color: var(--color-title);
        }
    }
}
