:root {
  --color-bg: #2c2c32;
  --color-active: #0f7dc6;
  --color-txt-l: #47c789;
  --color-txt: #000;
  --color-txt-big: #3e3b3b;
  --color-title: #f15c30;
  --color-txt-black: #040705;
  --color-beige: #e1d5c9;
  --color-peach: #ffc182;
  // --logo-w: 193px;
  // --logo-h: 60px;
  // --padding: #{vw(104, 1440)};
}
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
} /*16px*/

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 320px;
  max-width: 100vw;
  height: 100%;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

button:hover,
a:hover,
select:hover {
  cursor: pointer;
}

body *:focus {
  outline: none;
}
a {
  text-decoration: none;
}
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  text-transform: capitalize;
}
.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 82px;
  margin: 0 auto;
  // margin-top: calc(110px + 55px);
}

main {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}
// .container {
//     // width: 1440px;
//     max-width: 1440px;
//     // margin: 0 auto;
//     // padding: 0;
// }
@media screen and (max-width: 1640px) {
  .container {
    max-width: 1440px;
    padding: 0 82px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1000px;
    padding: 0 60px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    max-width: 1000%;
    padding: 0 32px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding: 0 16px;
  }
}
