.wrapper {
    padding-bottom: 23px;
    box-sizing: border-box;
    border-radius: 47px;
    outline: 1px solid transparent;
    transition: outline-color 0.3s ease, box-shadow 0.3s ease;
}

.dishImg {
    width: calc(100% - 12px);
    aspect-ratio: 1.198;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    margin: 6px 6px 10px;
}

.dishImg img {
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.dishTitleInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding: 0 14px;
}

.dishTitle {
    color: var(--color-txt-black);
    font-size: 28px;
    text-overflow: ellipsis; //added
    -webkit-box-orient: vertical; //added
    display: -webkit-box; //added
    -webkit-line-clamp: 1; //added
    overflow: hidden; //added
}

.dishWeight {
    font-size: 20px;
    color: var(--color-txt-big);
}

.dishDescr {
    font-size: 20px;
    margin-bottom: 14px;
    padding: 0 14px;
    color: var(--color-txt-big);
    overflow: hidden;
    min-height: 48px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.dishPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    color: var(--color-txt-black);
    font-size: 30px;
    font-weight: 700;
}

@media (hover: hover) {
    .wrapper {
        &:hover {
            outline-color: var(--color-title);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

            img {
                transform: scale(103%);
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .wrapper {
        border-radius: 27px;
        padding-bottom: 22px;
    }

    .dishImg {
        aspect-ratio: 1.14;
        border-radius: 30px;
        margin: 6px 6px 12px;
    }

    .dishTitle {
        font-size: 24px;
    }

    .dishWeight {
        display: none;
    }

    .dishDescr {
        font-size: 18px;
        min-height: 43.2px;
    }

    .dishPrice {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding-bottom: 4px;
    }

    .dishImg {
        aspect-ratio: 1.14;
        border-radius: 20px;
        margin: 0px 0px 8px;
        width: 100%;
    }

    .dishTitleInfo {
        margin-bottom: 6px;
        padding: 0 6px;
    }

    .dishTitle {
        font-size: 18px;
    }

    .dishDescr {
        font-size: 12px;
        margin-bottom: 10px;
        padding: 0 6px;
        min-height: 28.8px;
    }

    .dishPrice {
        padding: 0 6px;
    }

    .dishPrice {
        font-size: 20px;
    }
}