.wrapper {
    width: calc((100% - 40px) / 3);
    padding-bottom: 23px;
    box-sizing: border-box;
    &:hover {
        outline: 1px solid var(--color-title);
        border-radius: 47px;
        img {
            transform: scale(103%);
        }
    }
}
.dishImg {
    width: calc(100% - 12px);
    aspect-ratio: 1.198;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    margin: 6px 6px 10px;
}
.dishImg img {
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.dishTitleInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding: 0 14px;
}
.dishTitle {
    color: var(--color-txt-black);
    font-size: 28px;
    text-overflow: ellipsis; //added
    -webkit-box-orient: vertical; //added
    display: -webkit-box; //added
    -webkit-line-clamp: 1; //added
    overflow: hidden; //added
}
.dishWeight {
    font-size: 20px;
    color: var(--color-txt-big);
}
.dishDescr {
    font-size: 20px;
    margin-bottom: 14px;
    padding: 0 14px;
    color: var(--color-txt-big);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
.dishPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    color: var(--color-txt-black);
    font-size: 30px;
    font-weight: 700;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        width: calc((100% - 40px) / 2);
        padding-bottom: 22px;
        &:hover {
            border-radius: 27px;
        }
    }
    .dishImg {
        aspect-ratio: 1.14;
        border-radius: 30px;
        margin: 6px 6px 12px;
    }
    .dishTitle {
        font-size: 24px;
    }
    .dishWeight {
        display: none;
    }
    .dishDescr {
        font-size: 18px;
    }
    .dishPrice {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: calc((100% - 32px) / 2);
        padding-bottom: 4px;
        &:hover {
            outline: none;
            border-radius: none;
        }
    }
    .dishImg {
        aspect-ratio: 1.14;
        border-radius: 20px;
        margin: 0px 0px 8px;
        width: 100%;
    }
    .dishTitleInfo {
        margin-bottom: 6px;
        padding: 0 6px;
    }
    .dishTitle {
        font-size: 18px;
    }
    .dishDescr {
        font-size: 12px;
        margin-bottom: 10px;
        padding: 0 6px;
    }
    .dishPrice {
        padding: 0 6px;
    }
    .dishPrice {
        font-size: 20px;
    }
}
